---
version: "3"
services:
{% if proxy_use_letsencrypt %}
  letsencrypt:
    image: linuxserver/letsencrypt
    container_name: letsencrypt
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Rome
      - URL={{domain_name}}
      - VALIDATION=http
      - EMAIL={{letsencrypt_email}}
      - DHLEVEL=2048 #optional
      - ONLY_SUBDOMAINS=false #optional
      - STAGING=false #optional
    volumes:
      - {{ proxy_conf_dir }}/config:/config
    ports:
      - 443:443
      - 80:80 #optional
{% if "slat" in groups and groups['slat']|length >0 %}
      - "8443:8443"
{% endif %}
    restart: unless-stopped
{% else %}
  nginx:
    container_name: nginx
    image: {{ proxy_nginx_image }}
    restart: unless-stopped
    ports:
      - "443:443"
      - "80:80"
{% if "slat" in groups and groups['slat']|length >0 %}
      - "8443:8443"
{% endif %}
    volumes:
      - {{ proxy_conf_dir }}/nginx/default:/etc/nginx/conf.d/default.conf:ro
      - {{ proxy_conf_dir }}/nginx/ssl.conf:/config/nginx/ssl.conf:ro
      - {{ proxy_conf_dir }}/nginx/certs:/etc/nginx/certs
{% endif %}
