# redirect all traffic to https
server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name _;
	return 301 https://$host$request_uri;
}


# main server block
server {
	listen 443 ssl http2 default_server;
	listen [::]:443 ssl http2 default_server;

#	root /config/www;
#	index index.html index.htm index.php;

	server_name _;

	# all ssl related config moved to ssl.conf
	include /config/nginx/ssl.conf;

{% if "orchestrator_dashboard" in groups and "proxy_enable_orchestrator_dashboard_endpoint" %}
  location / {
    proxy_read_timeout      600;
    proxy_connect_timeout   159s;
    proxy_send_timeout      600;
    # Pass the request to Gunicorn
    proxy_pass http://{{groups['orchestrator_dashboard'][0]}}:{{orchestrator_dashboard_port}}/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_redirect          http:// https://;
   }
{% else %}
  location / {
      internal;
  }
{% endif %}
{% if "cmdb" in groups %}
  location /cmdb/ {
    proxy_pass              http://{{groups['cmdb'][0]}}:5984/indigo-cmdb-v2/_design/schema/_rewrite/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_set_header        Host $http_host;
    proxy_redirect          http:// https://;
  }
  location /cmdb-crud/ {
    proxy_pass http://{{groups['cmdb'][0]}}:8080/cmdb-crud/;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
    proxy_redirect http:// https://;
 }
{% endif %}

{% if "cpr" in groups %}
  location /cpr/ {
    proxy_pass              http://{{groups['cpr'][0]}}:{{cpr_port}}/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_set_header        Host $http_host;
    proxy_redirect          http:// https://;
  }

{% endif %}
{% if "im" in groups %}
  location /im/ {
    proxy_read_timeout      600;
    proxy_connect_timeout   159s;
    proxy_send_timeout      600;
    proxy_pass              http://{{groups['im'][0]}}:8800/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_set_header        Host $http_host;
    proxy_redirect          http:// https://;
    proxy_set_header        X-Forwarded-Prefix /im;
  }
{% endif %}
{% if "orchestrator" in groups %}
  location /orchestrator/ {
    proxy_read_timeout      600;
    proxy_connect_timeout   159s;
    proxy_send_timeout      600;
    proxy_pass              http://{{groups['orchestrator'][0]}}:8080/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_set_header        Host $http_host;
    proxy_redirect          http:// https://;
    proxy_set_header        X-Forwarded-Prefix /orchestrator;
  }
{% endif %}
{% if "monitoring_server" in groups %}
location /monitoring/ {
    proxy_read_timeout      600;
    proxy_connect_timeout   159s;
    proxy_send_timeout      600;
    proxy_pass              http://{{groups['monitoring_server'][0]}}:80/;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_set_header        Host $http_host;
    proxy_redirect          http:// https://;
  }
{% endif %}

}

# enable subdomain method reverse proxy confs
include /config/nginx/proxy-confs/*.subdomain.conf;
# enable proxy cache for auth
proxy_cache_path cache/ keys_zone=auth_cache:10m;
