CMDB_TARGET_URL={{cmdb_target_url}}
CMDB_CRUD_TARGET_URL={{cmdb_crud_target_url}}
CMDB_CRUD_USERNAME={{cmdb_crud_username}}
CMDB_CRUD_PASSWORD={{cmdb_crud_password}}
CMDB_CRUD_ADMIN_GROUP={{cmdb_crud_admin_group}}
OIDC_USERINFO={{cmdb_oidc_userinfo}}
