{
    "VAULT_URL": "{{ dashboard_vault_url }}",
    "VAULT_BOUND_AUDIENCE": "{{ dashboard_bound_audience }}",
    "VAULT_SECRETS_PATH": "{{ dashboard_vault_secrets_path }}",
    "WRAPPING_TOKEN_TIME_DURATION": "{{ dashboard_wrapping_token_time_duration }}",
    "READ_POLICY": "{{ dashboard_read_policy }}",
    "READ_TOKEN_TIME_DURATION": "{{ dashboard_read_token_time_duration }}",
    "READ_TOKEN_RENEWAL_TIME_DURATION": "{{ dashboard_read_token_renewal_time_duration }}",
    "WRITE_POLICY": "{{ dashboard_write_policy }}",
    "WRITE_TOKEN_TIME_DURATION": "{{ dashboard_write_token_time_duration }}",
    "WRITE_TOKEN_RENEWAL_TIME_DURATION": "{{ dashboard_write_token_renewal_time_duration }}",
    "DELETE_POLICY": "{{ dashboard_delete_policy }}",
    "DELETE_TOKEN_TIME_DURATION": "{{ dashboard_delete_token_time_duration }}",
    "DELETE_TOKEN_RENEWAL_TIME_DURATION": "{{ dashboard_delete_token_renewal_time_duration }}"
}
