cmdb.location={{monitoring_cmdb_location}}

iam.location={{monitoring_iam_token_url}}
iam.username={{monitoring_iam_username}}
iam.password={{monitoring_iam_password}}
iam.clientid={{monitoring_iam_client}}
iam.clientsecret={{monitoring_iam_secret}}

zabbix.wrapper.location=http://{{monitoring_agent_host}}:8082

zabbix.ip={{monitoring_server_host}}

mesos.metric=master/uptime_secs
mesos.metric=master/tasks_lost
mesos.metric=master/slaves_active
mesos.metric=master/cpus_percent
mesos.metric=master/elected
mesos.metric=master/dropped_messages
mesos.metric=master/frameworks_inactive
mesos.metric=master/frameworks_disconnected
mesos.metric=master/disk_total
mesos.metric=master/disk_used
mesos.metric=master/disk_percent
mesos.metric=master/gpus_total
mesos.metric=master/gpus_used
mesos.metric=master/gpus_percent
mesos.metric=master/mem_total
mesos.metric=master/mem_used
mesos.metric=master/mem_percent
mesos.metric=master/cpus_total
mesos.metric=master/cpus_used
mesos.metric=master/cpus_percent
