{
    "jsonrpc": "2.0",
    "method": "user.login",
    "params": {
        "user": "{{monitoring_zabbix_username}}",
        "password": "{{monitoring_zabbix_password}}"
    },
    "id": 1,
    "auth": null
}
