  oidc:
   enabled: true
   iam-properties:
     "[{{ oidc_issuer }}]":
       audience: "{{ oidc_audience }}"
       admingroup: "{{ oidc_admingroup }}"
       orchestrator:
         client-id: "{{ oidc_orchestrator_client_id }}"
         client-secret: "{{ oidc_orchestrator_client_secret }}"
         scopes: [ {{ oidc_orchestrator_scopes }} ]
       clues:
         client-id: "{{ oidc_clues_client_id }}"
         client-secret: "{{ oidc_clues_client_secret }}"

