  oidc:
   enabled: true
   iam-properties:
     "[{{orchestrator_iam_issuer}}]":
       audience: "{{ orchestrator_iam_audience }}"
       orchestrator:
         client-id: "{{orchestrator_iam_client_id}}"
         client-secret: "{{orchestrator_iam_client_secret}}"
       clues:
         client-id: "{{orchestrator_clues_iam_client_id}}"
         client-secret: "{{orchestrator_clues_iam_client_secret}}"
