ORCHESTRATOR_URL={{orchestrator_url}}
IM_URL={{orchestrator_im_url}}
CMDB_URL={{orchestrator_cmdb_url}}
SLAM_URL={{orchestrator_slam_url}}
CPR_URL={{orchestrator_cpr_url}}
MONITORING_URL={{orchestrator_monitoring_url}}
ONEDATA_ONEZONE_URL={{orchestrator_onezone_url}}
ORCHESTRATOR_DB_ENDPOINT={{orchestrator_mysql_host}}:{{orchestrator_dbport}}
ORCHESTRATOR_DB_NAME={{orchestrator_dbname}}
ORCHESTRATOR_DB_USER={{orchestrator_mysql_user}}
ORCHESTRATOR_DB_PWD={{orchestrator_mysql_password}}
WORKFLOW_DB_ENDPOINT={{orchestrator_mysql_host}}:{{orchestrator_dbport}}
WORKFLOW_DB_NAME={{orchestrator_workflow_dbname}}
WORKFLOW_DB_USER={{orchestrator_mysql_user}}
WORKFLOW_DB_PWD={{orchestrator_mysql_password}}
{% if orchestrator_custom_types is defined %}
TOSCA_DEFINITIONS_INDIGO=file:/tosca/custom_types.yaml
{% endif %}
{% if orchestrator_vault_url is defined %}
VAULT_URL={{orchestrator_vault_url}}
VAULT_ROLE={{orchestrator_vault_role}}
{% endif %}
