IAM_TOKEN_URL={{slam_iam_token_url}}
IAM_URL={{slam_iam_url}}
IAM_AUTHORIZE_URL={{slam_iam_authorize_url}}
IAM_CLIENT_ID={{slam_iam_client_id}}
IAM_CLIENT_SECRET={{slam_iam_client_secret}}
CMDB_URL={{slam_cmdb_url}}
ONEDATA_URL={{slam_onedata_url}}
PROVIDER_EMAIL={{slam_provider_email}}
MYSQL_ADDRESS={{slam_mysql_host}}
MYSQL_USER={{slam_mysql_user}}
MYSQL_PASSWORD={{slam_mysql_password}}
MYSQL_DB={{slam_mysql_dbname}}
MONGO_ADDRESS={{slam_mongo_host}}
MONGO_USER=engine
MONGO_DB={{slam_mongo_db}}
KEYSTORE_PASSWORD={{slam_keystore_password}}
KEYSTORE_ALIAS={{slam_keystore_alias}}
KEYSTORE=/opt/pki/customKeystore.jks
